{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  Корзина
{% endblock %}

{% block content %}
  <h1>Корзина</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Продукт</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Цена</th>
        <th>Сумма</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart.get_items_cart %}
        {% with product=item.product %}
          <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">{{ item.product.name }}</a>
            </td>
            <td>{{ item.quantity }}</td>
            <td><a href="{% url "cart:cart_remove" item.product.id %}">удалить</a></td>
            <td>{{ item.price }} руб</td>
            <td>{{ item.get_cost }} руб</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="3"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "shop:product_list" %}" class="button light">Continue shopping</a>
    <a href="{% url "orders:order_create" %}" class="button light">Оформить</a>
  </p>
{% endblock %}